{% extends 'backoffice/layout.html.twig' %}
{% block suite_body %}
    <h1>Edition d'un module</h1>
    {{form_start(formModules)}}
    {{form_errors(formModules)}}
    {{form_widget(formModules)}}
    <button>Enregistrer le groupe</button>
    {{form_end(formModules)}}
{% endblock %}