.devoir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devoir table {
  /* border-radius: 0.3125rem; */
  text-align: center;
  max-width: 50%;
  margin-bottom: 5vh;
  /*border-collapse: initial;*/
}
/* (il ne vaut mieux pas mettre de hauteur fixe car ça peut cacher du contenu sans le vouloir */
.devoir tr {
  min-height: 5vh;
}

#grp {
  font-size: 3rem;
}
/*
.description th {
  border: 3px solid darkgray;
}

.devoir td {
  min-width: 20vw;
  border: 1px solid grey;
}
*/
