{% extends 'backoffice/layout.html.twig' %}
{% block suite_body %}
    <h1>Edition d'une tâche</h1>
    {{form_start(formTask)}}
    {{form_errors(formTask)}}
    {{form_widget(formTask)}}
    <button>Enregistrer le groupe</button>
    {{form_end(formTask)}}
{% endblock %}