{% extends 'backoffice/layout.html.twig' %}
{% block suite_body %}
    <h1>Ajout d'un utilisateur</h1>
    {{form_start(formUser)}}
    {{form_errors(formUser)}}
    {{form_widget(formUser)}}
    <button>Enregistrer l'utilisateur</button>
    {{form_end(formUser)}}
{% endblock %}