{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    {% for années in mmi %}
    <section id="{{années}}">
        {% for tp in années %}
            <button><a href="">{{tp}}</a></button>
        {% endfor %}
    </section>
    {% endfor %}

{% endblock %}
